@model IEnumerable<WebApplication1.Models.OfficeModel>

@{
    ViewData["Title"] = "Office Model";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberEmployees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOffice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberEmployees)
                </td>
            </tr>
        }

    </tbody>
</table>
